h1, .add-team, .edit-team {
    text-align: center;
}
h2 {
    margin-bottom: 5px;
}
h3 {
    margin: 5px auto;
}
.player-name-input, .edit-player-name-input {
    margin-right: 10px;
}
.teams-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/* .team-info {
    display: flex;
} */
